@font-face {
    font-family: 'stylishFont1';
    src: url(../fonts/font1);
}

body {
    font-family: sans-serif;
    font-size: medium;
}

header {
    background-color: lightgrey;
    text-align: center;
}

nav {
    display: inline-block;
    width: 80%;
    background-color: aqua;
    justify-content: center;
}

nav img {
    width: 10%;
}

nav ul li {
    margin-right: 20px;
    margin-left: 20px;
}

main {
    font-family: 'stylishFont1';
    font-size: medium;
    background-color: yellow;
}

footer {
    background-color: gold;
}

/*
li {
    display: inline-block;
    width: auto;
    font-family: 'stylishFont1';
}
*/

.grid {
    display: grid;
    grid-template-columns: repeat(2, 20%); /*2 numbers mean 2 columns*/
    row-gap: 10px;
    justify-content: center;
}

.grid img {
    width: 100%; /* Makes images fill their grid cell */
    height: auto; /* Maintains aspect ratio */
    display: block; /* Removes extra space below images */
}

.flex {
    display: flex;
    flex-wrap: wrap;
    gap: 5px 10px;
    justify-content: center;
}


h1 {
    text-align: center;
    font-family: 'stylishFont1';
    color: black;
}

p {
    text-align: center;
    line-height: normal;
    font-family: sans-serif;
}