@font-face {
    font-family: 'stylishFont1';
    src: url(../fonts/font1.woff2);
}

@font-face {
    font-family: 'stylishFont2';
    src: url(../fonts/font2.woff2);
}

@font-face {
    font-family: 'kineksRound';
    src: url(../fonts/KineksRound-SemiBold.otf);
}

* {
    box-sizing: border-box;
}

h1 {
    margin-top: 1rem;
    text-align: center;
    font-family: 'kineksRound';
}

html{
    background-color: black;
    color: white;
}

.offscreen {
    position: absolute;
    left: -1000px;
    padding: 10px;
    color: lightgray;
    text-decoration: none;
}

.offscreen:focus {
    position: static;
    left: 0;
    text-decoration: underline;
}

header {
    justify-content: left;
}

header nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 64px;
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: right;
    padding-right: 0px;
    z-index: 10;
    border-bottom: 1px solid white;
}

header nav ul {
    font-family: 'kineksRound';
    display: flex;
    gap: 20px;
    list-style-type: none;
    margin-right: 20px;
}

header nav ul li {
    padding: 5px 5px 0px 5px;
}

header nav ul li a{
    position: relative;
    color: white;
    text-decoration: none;
    transition: color 0.5s ease;
}

header nav ul li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 2px;
    background-color: grey;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.5s ease;
}

header nav ul li a:hover {
    color: grey;
}

header nav ul li a:hover::after{
    transform: scaleX(1);
}

body {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

hr {
    margin: 0 -30px 20px -30px;
}

.layout {
    position: absolute;
    top: 64px; /* same as header height */
    left: 0;
    width: 100%;
    height: calc(100vh - 64px);
    display: grid;
    grid-template-columns: 120px 1fr 120px;
  }

.side {
    position: relative;
    overflow: hidden;
    pointer-events: none;
}

.content {
    border-left: 1px solid white;
    border-right: 1px solid white;
    overflow-y: auto;
    padding: 1rem 2rem 2rem 2rem;
}

.content-divider {
    height: 1px;
    background-color: white; 
    margin: 2rem auto 0;     /* center + spacing */
  }

.snow {
    background-image:
      radial-gradient(2px 2px at 20px 30px, white, transparent),
      radial-gradient(3px 3px at 80px 120px, white, transparent),
      radial-gradient(1.5px 1.5px at 50px 200px, white, transparent),
      radial-gradient(2.5px 2.5px at 100px 60px, white, transparent),
      radial-gradient(1px 1px at 30px 160px, white, transparent);
    
    background-repeat: repeat;
    background-size: 120px 300px;
  
    animation: snow-fall 8s linear infinite;
}

@keyframes snow-fall {
    from {
      background-position: 0 0;
    }
    to {
      background-position: 0 300px;
    }
}

.right{
    animation-duration: 10s;
    opacity: 0.8;
  }
  
.left{
    animation-duration: 7s;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 30%); /*2 numbers mean 2 columns*/
    row-gap: 20px;
    column-gap: 20px;
    justify-content: center;
}

.grid img {
    width: 100%; /* Makes images fill their grid cell */
    height: auto; /* Maintains aspect ratio */
    display: block; /* Removes extra space below images */
}

.flex {
    display: flex;
    flex-wrap: wrap;
    gap: 20px 20px;
    justify-content: center;
}

.flex img {
    flex: 0 0 25%;
}

.flex img:nth-child(4n+3),
.flex img:nth-child(4n+4) {
    border: 2px solid white;
}